<div class="navbar-lewagon fixed-top show">
  <div class="logo">
    <h4>
      <%= link_to root_path, class: "text-white" do %>
            <i class="fas fa-cocktail"></i> cocktail kit
      <% end %>
    </h4>
  </div>

  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-dark main " %>
</div>
