<div class="navbar-lewagon">
  <div class="logo">
    <%= link_to cocktails_path do %>
          <i class="fas fa-cocktail"></i> COCKTAIL KIT
    <% end %>
  </div>

  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-dark " %>
</div>
