<div class="navbar-lewagon dark">
  <div class="logo">
    <h4>
      <%= link_to root_path do %>
            <i class="fas fa-cocktail"></i> COCKTAIL KIT
      <% end %>
    </h4>
  </div>

  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-dark" %>
</div>
