// Specific CSS for your home-page
.container h2 {
  text-align: center;
  margin: 24px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

a {
  color: #222;
}

a:hover {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}
