.container-show {
  margin: 0;
}

.cocktail-show-background {
  background-position: center;
  background-size: cover;
  height: 60vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  background-repeat: no-repeat;
  position: relative;
}
