.home-banner {
  background-position: center;
  background-size: cover;
  height: 70vh;
  color: #eee;
  text-align: center;
  padding-top: 32vh;
  background-repeat: no-repeat;
  position: relative;

  h1 {
    font-family: $main-banner-font !important;
  }
}

.cocktail-show-banner {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;

  h1 {
    font-family: $main-banner-font !important;
  }
}
