.home-banner {
  background-position: center;
  background-size: cover;
  height: 70vh;
  color: #eee;
  text-align: center;
  padding-top: 32vh;
  background-repeat: no-repeat;
  position: relative;
}
