.btn-dark {
  border-radius: 4px;
}

.main, .main:visited,  {
  background-color: #aa6f79 !important;
  border: none;
}

.main:hover, .main:active {
  background-color: #ad9397 !important;
  border: none;
  font-weight: normal;
}

