.form-control {
  background-color: transparent !important;
  border: 0 !important;
  box-sizing: border-box !important;
  border-bottom: 1px solid #222 !important;
  border-radius: 0;
  color: #222 !important;
  padding-top: 0px;
}

.no-border {
  background-color: transparent !important;
  border: 0 !important;
  box-sizing: border-box !important;
  color: #222 !important;
  // font-size: 1vw;
  width: 100%;

}

.btn-search {
  background-color: transparent;
  border: 0;
}

.form-inline {
  border-bottom: 1px solid #222;
  border-radius: 0;
  color: #222;
  padding-top: 0px;
}
